.bullet__container {
  display: flex;
  overflow: auto;
}

.bullet__container::-webkit-scrollbar {
  height: 4px;
}

.bullet__container::-webkit-scrollbar-track {
  background-clip: padding-box;
  background-color: rgb(21, 21, 70);
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
}

.bullet__container::-webkit-scrollbar-thumb {
  background-color: rgb(186, 186, 252);
}

.bullet__item {
  min-width: 100px;
  margin-right: 15px;
}

.bullet__item--title {
  font-size: 10;
  text-align: center;
}
.bullet__item----image {
  width: 80px;
}
.bullet__item--link {
  text-decoration: none;
}

@media screen and (min-width: 760px) {
  .bullet__item,
  .bullet__item----image {
    width: 100px;
  }
}
